body {
    margin: 0;
    background-color: rgb(16, 19, 26);
    color: aliceblue;
    font-family: sans-serif;
}

.alert {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    transform: translateY(-100%);
}

.alert--online {
    background-color: green;
    animation: reveal 4s ease;
}

.alert--offline {
    background-color: crimson;
    animation: reveal 4s ease;
}

@keyframes reveal {
    0% {
        transform: translateY(-100%);
    }
    15%,
    85% {
        transform: translateY(0);
    }
}